@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@import "./light";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(#072136, #218ad4);
    background-color: #072136;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    overflow-x: hidden;
    user-select: none;
}

html {
    overflow-x: hidden;
}