@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@import "./light";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1e486a;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    overflow-x: hidden;
}

html {
    overflow-x: hidden;
}